.main {
  min-height: 71vh;
  display: flex;
  align-items: center;
}

.products {
  /* --flow-space: 2rem; */
  padding-top: 2rem;
  display: grid;
  gap: 2rem;
  grid-template-areas:
    "title"
    "image"
    "tabs"
    "content";
}

.numberedTitle {
  grid-area: title;
  font-family: var(--ff-sans-title);
  font-weight: 300;
  text-align: center;
}

.products > img {
  grid-area: image;
  margin-inline: auto;
  margin-block: auto;
  max-width: 100%;
  object-fit: contain;
  height: 300px;
}

.tabList {
  grid-area: tabs;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  font-family: var(--ff-sans-title);
  font-size: var(--fs-300);
  font-weight: 500;
}
.tabList > * {
  border: none;
  background-color: transparent;
  color: hsl(var(--pale-blue));
  text-transform: uppercase;
  padding: 0;
  width: min-content;
}

.destinationInfo {
  grid-area: content;
  /* max-width: 50ch; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.destinationInfo > h2 {
  text-transform: uppercase;
  font-family: var(--ff-sans-title);
  letter-spacing: 1px;
  font-size: calc(2rem + 5vmin);
  width: min-content;
  line-height: 1;
}
.destinationInfo > p {
  padding-top: 2rem;
}

.destinationMeta {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid hsl(var(--whitesmoke) / 0.1);
  padding-top: 2rem;
}

.destinationMeta p {
  font-size: 1.75rem;
}

.destinationMeta h3 {
  max-width: 100%;
}
.button {
  width: max-content;
  text-decoration: none;
  font-family: var(--ff-sans-title);
  font-size: var(--fs-200);
  color: hsl(var(--whitesmoke));
  font-weight: 600;
  text-transform: uppercase;
  background: hsl(var(--pale-blue));
  border: 1px solid hsl(var(--pale-blue));
  border-radius: 6px;
  padding: 12px 28px;
  transition: all 0.3s ease;
}
.button:hover,
.button:focus {
  background-color: #0b5ed7;
  border-color: #0b5ed7;
}

@media (min-width: 35em) {
  .numberedTitle {
    margin-top: 2rem;
  }

  .destinationMeta {
    flex-direction: row;
    gap: min(3.5vw, 3.075rem);
  }
}

@media (min-width: 55em) {
  .products {
    /* justify-items: start; */
    /* align-content: start; */
    padding-top: 0;
    grid-template-areas:
      " title title "
      " image tabs "
      " image content ";
  }

  .products > img {
    width: 215px;
  }

  .destinationInfo {
    max-width: 50ch;
    align-items: start;
    text-align: start;
  }
  .destinationInfo > h2 {
    line-height: 0.9;
  }
}
@media (min-width: 62em) {
  .products {
    gap: 0;
  }
  .products > h1 {
    margin-block: auto;
    padding-block: 5rem;
  }

  .products > img {
    height: 100%;
    width: 70%;
  }
  .tabList {
    justify-content: start;
    gap: 3.5rem;
  }
  .destinationInfo > h2 {
    padding-top: 2rem;
  }
}
