.footer {
  margin-top: clamp(4.25rem, 5.5vw + 1rem, 6.5rem);
  padding-block: 2.2rem;
  background-color: hsl(var(--black) /0.85);
  color: hsl(var(--whitesmoke));
}

.privacyLink a {
  margin-inline: auto;
  color: hsl(var(--whitesmoke) /0.7);
  margin-bottom: 0.5rem;
}
.privacyLink a:hover {
  color: hsl(var(--whitesmoke));
}

.footer div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.footer p {
  font-family: var(--ff-sans-title);
  font-size: var(--fs-200);
}

.brandLogo {
  margin-inline: 8px;
}
@media (min-width: 35em) {
  .footer div {
    flex-direction: row;
    justify-content: space-between;
  }
}
