.GridContainer {
  line-height: 2;
  min-height: content;
}
.information {
  grid-area: article;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.information > h2 {
  font-size: var(--fs-600);
}
.articleEl > * {
  font-size: var(--fs-200);
}
.articleEl > h3 {
  font-family: var(--ff-sans-title);
  font-weight: 600;
}
.articleEl > p {
  max-width: 80ch;
}

.divImg {
  display: flex;
  place-content: center;
  grid-area: image;
}

.webDevImg {
  object-fit: contain;
  border-radius: 5px;
  border: 1px solid hsl(var(--black) / 0.2);
  margin-bottom: 3.5em;
}

@media (min-width: 58em) {
  .GridContainer {
    display: grid;
    column-gap: clamp(3rem, 3vw + 2rem, 5rem);
    grid-template-columns: 45% minmax(0, 1fr);
    grid-template-areas: "article image";
  }
  .information {
    height: 350px;
    justify-content: space-around;
  }
  .webDevImg {
    margin-bottom: 0;
  }
}
