.GridContainer {
  line-height: 1.7;
}
.information {
  grid-area: article;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.information > h2 {
  font-family: var(--ff-sans-title);
  font-size: var(--fs-600);
  font-weight: 300;
}
.articleEl > * {
  font-size: var(--fs-300);
}
.articleEl > h3 {
  padding-bottom: 4px;
  font-family: var(--ff-sans-title);
  font-weight: 600;
  letter-spacing: 0.5px;
}
.articleEl > p {
  max-width: 70ch;
}

.divImg {
  display: flex;
  place-content: center;
  grid-area: image;
  
}

.webDevImg {
  max-height: 250px;
  object-fit: contain;
  border-radius: 5px;
  margin-bottom: 1.5em;
  width: auto;
  height: auto;
}

@media (min-width: 35em) {
  .webDevImg {
    max-height: 300px;
  }
}
@media (min-width: 58em) {
  .GridContainer {
    display: grid;
    column-gap: clamp(3rem, 3vw + 2rem, 5rem);
    grid-template-columns: 45% minmax(0, 1fr);
    grid-template-areas: "article image";
    min-height: content;
  }
  .information {
    height: 355px;
  }
  .webDevImg {
    margin-bottom: 0;
  }
}
@media (min-width: 62em) {
  .information {
    justify-content: space-around;
  }
  .webDevImg {
    max-height: 100%;
  }
}
