.SkipToContent {
  position: absolute;
  z-index: -1;
  background: hsl(var(--whitesmoke));
  color: hsl(var(--clr-dark));
  text-decoration: underline;
  padding: 0.5em 1em;
  margin-inline: auto;
  transform: translateY(-110%);
  transition: transform 250ms ease-in;
}

.SkipToContent:focus {
  z-index: 9999;
  transform: translateY(0%);
}

.navCont {
  margin-block: 4px;
  background-color: hsl(var(--whitesmoke));
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
}

.logo {
  display: inline-block;
  margin-right: 4px;
}

a.navbarBrand {
  padding-right: 25px;
}
@media (min-width: 992px) {
  a.navbarBrand {
    border-right: 1px solid rgba(128, 128, 128, 0.363);
  }
}

a.navLink,
.navBtn {
  font-size: 14px;
  font-weight: 600;
}

.navBtn {
  width: auto;
  padding: 9px 24px;
  background: hsl(var(--pale-blue));
  border-color: hsl(var(--pale-blue));
  transition: all 0.3s ease;
}
.navBtn:hover,
.navBtn:focus {
  background: hsl(var(--brand-color));
  border-color: hsl(var(--brand-color));
}
@media (max-width: 992px) {
  .navBtn {
    width: 100%;
  }
}
